<header class="main-header">
    <div class="btn-group pull-left hamburger-menu" uib-dropdown>
        <a class="btn btn-dropdown sidebar-toggle" uib-dropdown-toggle>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>        
        </a>
        <ul uib-dropdown-menu role="menu" style="margin-top: 0px" 
            aria-labelledby="btn-append-to-single-button" >
            <li role="menuitem"><a ng-href="{{supported ?'/admin':''}}" ng-click="checkVersion()">pgAdmin4 Web</a></li>
        </ul>
    </div>
    <!-- Logo -->
    <!-- <a href="/" class="logo"> -->
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- <span class="logo-mini"></span> -->
        <!-- logo for regular state and mobile devices -->
        <!-- <span class="logo-lg"></span> -->
    <!-- </a> -->
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <!--  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a> -->
        <!-- Navbar Right Menu -->
        <a href="/" class="logo"></a>
        <h1 id="pgc-logo">pgDevOps</h1>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less -->
                <li>

                </li>
                <li ng-click="openDetailsModal()" id="pgDevOpsUpdate" ng-if="pgdevopsUpdate && !devRole">
                    <!-- <button class="btn btn-default btn-sm btn-warning" style="margin-top: 12px">New version of pgDevOps available</button> -->
                    <a href="">
                        <div id="pgdevops-update">
                            <small class="label bg-orange">New version of pgDevOps available
                            </small>
                        </div>
                    </a>
                </li>
                <li ng-click="open()" id="updatesAvailable" ng-if="updates && !devRole">
                    <a href="">
                        <div id="updates-available">
                            <small class="label bg-orange"><i class="fa fa-arrow-circle-down"></i> {{ updates }} Updates
                                Available
                            </small>
                        </div>
                    </a>
                </li>
                <li>
                    <div class="btn-group userinfo-btn" uib-dropdown >
                        <button id="btn-append-to-single-button" type="button" class="btn btn-dropdown" uib-dropdown-toggle>
                        Help  <span class="caret"></span>
                        </button>
                        
                         <ul class="dropdown-menu" style="margin-left: -80px" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                            <li id="email-feedback"><a target="_blank" ng-click="openFeedbackForm()"><i class="fa fa-external-link" aria-hidden="true"></i>Email Feedback</a></li>
                           <li id="about-bigsql"><a target="_blank" href="https://www.openscg.com/products/postgres-by-bigsql/"><i class="fa fa-external-link" aria-hidden="true"></i>About BigSQL</a></li>
                           <li id="discussion-forum"><a target="_blank" href="https://www.bigsql.org/forum.jsp"><i class="fa fa-external-link" aria-hidden="true"></i>Discussion Forum</a></li>
                           <li id="documentation"><a target="_blank" href="https://www.bigsql.org/docs/"><i class="fa fa-external-link" aria-hidden="true"></i>Documentation</a></li>
                           <li role="separator" class="divider"></li>
                           <li id="about-pgdevops"><a ng-click="openDetailsModal()"><i class="fa fa-info-circle" aria-hidden="true"></i>About pgDevOps</a></li>
                         </ul>
                     </div>
                </li>
                <li>
                    <div class="btn-group userinfo-btn" uib-dropdown>

                        <button id="btn-append-to-single-button" type="button" class="btn btn-dropdown"
                                uib-dropdown-toggle>
                            <img
                            src="{{ userInfo.gravatarImage }}" width="18" height="18"
                            alt="Gravatar image for {{ userInfo.email }}">
                            {{ userInfo.email }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                            aria-labelledby="btn-append-to-single-button">
                            <li role="menuitem" id="change_password"><a href="/change">Change Password</a></li>
                            <li role="menuitem" ng-if="userInfo.isAdmin" id="create_users" ng-click="usersPopup('lg')">
                                <a href="">Users</a>
                            </li>
                            <li role="menuitem" id="logout_app" ng-click="logOut()"><a href="/logout">Logout</a></li>
                        </ul>
                    </div>


                    <!--<div id="pgcHost">
                        {{userInfo.email}}
                    </div>-->
                </li>
                <!--<li>
                    <a class="feedback-link" target="_blank" href="https://www.bigsql.org/feedback/index.jsp"
                       tooltip-placement="bottom-right" uib-tooltip="Give Your Feedback">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                    </a>
                </li>-->
                <!-- Control Sidebar Toggle Button -->
            </ul>
        </div>
    </nav>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="4000" close="closeAlert()" class="uib-text">{{alert.msg}}</uib-alert>
</header>