<div class="modal-header">
    <div ng-click="cancel()" class="close-modal pull-right" style="margin-left: 10px;"  data-dismiss="modal" aria-hidden="true">
        <i class="fa fa-lg fa-close cursor_pointer"></i>
    </div>
    <div>
        <h4 class="modal-title pull-left"> <img style="height: 35px;" src="assets/img/cred_manager.png"> {{title}} </h4>
    </div>
</div>
<uib-alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert()" dismiss-on-timeout="8000" 
           class="uib-text" style="word-wrap: pre;" >{{ alert.msg }}</uib-alert>
<div class="modal-body">
    <div ng-if="loading" class="text-center">
        <i class="fa fa-cog fa-spin fa-5x fa-fw margin-bottom"></i>
    </div>
            <form class="form-horizontal" ng-if="!loading">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Select Type : <span class="requiredSymbol">*</span></label>
                    <div class="col-sm-3">
                        <select class="form-control" ng-disabled="updateCred" id="type" ng-change="refreshData(data.type)" ng-options="type as key for (key,type) in types" ng-model="data.type">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                    <div class="col-sm-3" ng-if="data.type">
                        <img ng-src="assets/img/{{data.type}}.png" class="cred-img-add-screen">
                    </div>
                </div>
                <div ng-if="data.type">
                    <div class="form-group" ng-if="data.type == 'cloud'">
                        <label class="col-sm-4 control-label">Cloud : <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-disabled="updateCred" id="cloud_name" ng-options="(cloud.name | lowercase) as cloud.name for cloud in cloudTypes" ng-model="data.cloud_name" ng-change="cloudChange()">
                            <option value="">--select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Name : <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="data.credential_name" id="credential_name" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'ssh-key' || data.type == 'pwd'">
                        <label class="col-sm-4 control-label">User Name: <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="data.user" class="form-control" id="user" placeholder="ssh_user">
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'pwd'">
                        <label class="col-sm-4 control-label">Password: <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-8">
                            <input type="password" ng-model="data.password" id="password" class="form-control" placeholder="password">
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'ssh-key'">
                        <label class="col-sm-4 control-label">Key : <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-8">
                            <textarea style="height: 200px;" id="ssh_key" ng-model="data.ssh_key" class="form-control" placeholder="Paste your ssh-key"></textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'ssh-key' || data.type == 'pwd'">
                        <label class="col-sm-4 control-label">Sudo Password:</label>
                        <div class="col-sm-7">
                            <input type="password" id="ssh_sudo_pwd" ng-model="data.ssh_sudo_pwd" class="form-control" placeholder="ssh_sudo_pwd">
                        </div>
                        <div class="col-sm-1">
                            <i tooltip-append-to-body="true" uib-tooltip="Sudo may be required to perform actions such as enabling autostart & installing system-wide components.  If your account does not have the ability to run 'sudo' without a password, enter the 'sudo password' here. If not supplied, you will be prompted for the sudo password when required." class="fa fa-info-circle" aria-hidden="true" style="margin-left: -25px;"></i>
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'cloud' && data.cloud_name != 'vmware'">
                        <label class="col-sm-4 control-label">Region :</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="region" ng-change="regionChange(regionSelect.region)" ng-options="region.region as region.location for region in regions" ng-model="data.credentials.region">
                                <option value="">--select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'cloud' && data.cloud_name=='azure'">
                        <label class="col-sm-4 control-label">Client ID : <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="data.credentials.client_id" id="client_id" class="form-control" placeholder="Client ID">
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'cloud' && data.cloud_name=='azure'">
                        <label class="col-sm-4 control-label">Client Secret : <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="data.credentials.client_secret" id="client_secret" class="form-control" placeholder="Client Secret">
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'cloud' && data.cloud_name=='azure'">
                        <label class="col-sm-4 control-label">Subscription Id : <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="data.credentials.subscription_id" id="subscription_id" class="form-control" placeholder="Subscription Id">
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'cloud' && data.cloud_name=='azure'">
                        <label class="col-sm-4 control-label">Tenant Id : <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="data.credentials.tenant_id" id="tenant_id" class="form-control" placeholder="Tenant Id">
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'cloud' && data.cloud_name=='aws'">
                        <label class="col-sm-4 control-label">Access Key Id : <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="data.credentials.access_key_id" id="access_key_id" class="form-control" placeholder="Access Key Id">
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'cloud' && data.cloud_name=='aws'">
                        <label class="col-sm-4 control-label">Secret Access Key :<span class="requiredSymbol">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="data.credentials.secret_access_key" id="secret_access_key" class="form-control" placeholder="Secret Access Key">
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'cloud' && data.cloud_name=='vmware'">
                        <label class="col-sm-4 control-label">User :<span class="requiredSymbol">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="data.credentials.user" id="vmuser" class="form-control" placeholder="User">
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'cloud' && data.cloud_name=='vmware'">
                        <label class="col-sm-4 control-label">Password :<span class="requiredSymbol">*</span></label>
                        <div class="col-sm-8">
                            <input type="password" ng-model="data.credentials.password" id="vmpassword" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'cloud' && data.cloud_name=='vmware'">
                        <label class="col-sm-4 control-label">Url :<span class="requiredSymbol">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="data.credentials.url" id="vmurl" class="form-control" placeholder="Url">
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="text-right">
                            <button class="btn btn-default" ng-disabled="!validateCloud(data.type,data.cloud_name)" ng-click="testCredential()" >
                                <i ng-if="testing" class="fa fa-spinner fa-spin"></i>Test Connection</button>&nbsp;
                            <button class="btn btn-primary"
                             ng-disabled="! validateCloud(data.type,data.cloud_name) || adding"
                             ng-click="addCredential()">
                                <i ng-if="adding" class="fa fa-spinner"></i>{{buttonType}}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
</div>