<div class="modal-header">
    <div ng-click="cancel()" class="close-modal pull-right" data-dismiss="modal" aria-hidden="true">
        <i class="fa fa-lg fa-close cursor_pointer"></i>
    </div>
    <h4 ng-if="!thirdPhase" class="modal-title"> {{type}} SSH Host</h4>
    <h4 ng-if="thirdPhase" class="modal-title"> {{type}} SSH Host</h4>
</div>
<div class="modal-body">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="8000" close="closeAlert()" class="uib-text">{{alert.msg}}</uib-alert>
    <div ng-if="tryToConnect">
        <i class="fa fa-spinner fa-pulse fa-2x"></i> &nbsp;<strong> Trying to connect {{hostName}} </strong>
    </div>
    <div ng-if="installingStatus">
        <i class="fa fa-spinner fa-pulse fa-2x"></i> &nbsp;<strong> Installing {{selectedPgComp.component}} on {{hostName}} </strong>
    </div>
    <div ng-if="connectionStatus">
        <i class="fa fa-spinner fa-pulse fa-2x"></i> &nbsp;<strong>{{message}}</strong>
    </div>
    <div ng-if="connectionError">
        <strong>{{message}}</strong>
    </div>
    <div ng-hide="tryToConnect || connectionStatus || installingStatus">
        <form class="form-horizontal" id="hostForm">
            <div class="form-group" ng-show="firstPhase">
                <label class="col-sm-3 control-label">Host IP:<span class="requiredSymbol">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="hostName" class="form-control" placeholder="Host" data-fv-field="ip" data-fv-ip-message="Please enter a valid IP address">
                </div>
            </div>
            <div class="form-group" ng-show="firstPhase">
                <label class="col-sm-3 control-label">Conn Name:<span class="requiredSymbol">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="connectionName" class="form-control" placeholder="Connection name">
                </div>
            </div>
            <!-- <div class="form-group" ng-show="firstPhase">
                <label class="col-sm-3 control-label">User Name:<span class="requiredSymbol">*</span></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="userName" class="form-control" placeholder="Username">
                </div>
            </div> -->
            <div class="form-group" ng-show="firstPhase">
                <label class="col-sm-3 control-label">Credential:<span class="requiredSymbol">*</span></label>
                <div class="col-sm-6">
                    <select ng-disabled="gettingCreds" class="form-control" ng-model="selected_cred_name" ng-options="cred.cred_name as cred.cred_name for cred in credentialsList">
                        <option value="">--select--</option>
                    </select>
                    <!-- <input type="text" ng-model="userName" class="form-control" placeholder="Username"> -->
                </div>
                <div class="col-sm-2 pull-right">
                    <button class="btn btn-default" ng-click="addCred('Add Credential','')"><i class="fa fa-plus"></i> &nbsp;Add</button>
                </div>
            </div>
            <!-- <fieldset ng-show="firstPhase">

                <div class="form-group form-group-custom">
                    <label class="col-sm-3 control-label">Password:</label>
                    <div class="col-sm-9">
                        <input type="password" ng-model="password" class="form-control" placeholder="password">
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <strong>or</strong>
                </div> -->
                <!--<div class="form-group form-group-custom">
                    <label class="col-sm-3 control-label">SSH Key:<span class="requiredSymbol">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="ssh_key" id="ssh_key" value="/Users/naveen/" class="form-control file-loading" placeholder="PATH to ssh-key" webkitdirectory>
                    </div>
                </div>-->
                <!-- <div class="form-group form-group-custom">
                    <label class="col-sm-3 control-label">SSH Key:</label>
                    <div class="col-sm-9">
                        <textarea style="height: 200px;" id="ssh_key" ng-model="ssh_key" class="form-control" placeholder="Paste your ssh-key"></textarea>
                    </div>
                </div>
            </fieldset> -->
            <!--<div class="form-group row" ng-show="secondPhase">
                <label class="col-sm-4 col-form-label">Service User</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="serviceUser" class="form-control">
                </div>
            </div>-->
            <div class="form-group row" ng-show="secondPhase">
                <div class="col-md-12" ng-if="setupError">
                    <strong>{{message}}</strong>
                </div>
                <span ng-if="auth_err">
                <label class="col-sm-4 col-form-label">sudo password</label>
                    <div class="col-sm-8" class="form-control">
                        <input type="password" ng-model="sudo_password.text" class="form-control" placeholder="password">
                        <p ng-if="sudo_password_auth_err">{{sudo_password_auth_err}}</p>
                        <p ng-if="root_pgc_path">Detected PGC at {{ root_pgc_path }}.
                            Provide the sudo password and verify if you have access.</p>

                    </div>
                </span>
                <br>
                <br>
                <label class="col-sm-4 col-form-label">PGC_HOME Directory</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="pgcDir" class="form-control">
                    <p ng-if="pgcVersion">Detected the PGC version : {{ pgcVersion }} in the directory.</p>
                    <p ng-if="not_sudoer">You are not in the sudoers file.</p>
                </div>

            </div>
            <br />
            <div class="form-group row" ng-show="thirdPhase">
                <label class="col-sm-4 col-form-label">Install PG</label>
                <div class="col-sm-8">
                    <input type="checkbox" ng-model="pgInstall">
                </div>
            </div>
            <div class="form-group row" ng-show="thirdPhase">
                <label class="col-sm-4 col-form-label">Select PG version</label>
                <div class="col-sm-8">
                    <select class="form-control" name="selectPg" ng-disabled="!pgInstall" ng-model="selectedPgComp" ng-options="option.component for option in availablePgComps">
                    </select>
                </div>
            </div>
            <div class="form-group row" ng-show="thirdPhase">
                <label class="col-sm-4 col-form-label">Auto Start</label>
                <div class="col-sm-8">
                    <input type="checkbox" ng-model="autostart" ng-disabled="!isSudo" ng-change="autostartChange(autostart)" />
                </div>
            </div>
            <div class="text-left" ng-show="firstPhase">
                <span style="color:red;">*</span> Required Field
            </div>
            <div class="form-actions">
                <div class="text-right">
                   <!--  <button class="btn btn-default" type="button" ng-click="cancel(); refreshHostManager()">Cancel</button> -->
                    <button class="btn btn-default" type="button" ng-show="secondPhase" ng-click="back()">Back</button>
                    <button ng-show="secondPhase && auth_err" class="btn btn-default" type="button" ng-click="verify()">Verify</button>
                    <button ng-if="!secondPhase" class="btn btn-default" type="submit" ng-click="next()" ng-disabled="!(hostName && connectionName && selected_cred_name) || (!pgInstall && thirdPhase) ">Connect</button>
                    <button ng-if="secondPhase" class="btn btn-default" type="submit" ng-click="addHost(hostName, pgcDir, userName, password, connectionName)">{{ create_btn }}</button>
                    <!-- <button type="submit" ng-show="secondPhase" class="btn btn-primary" ng-disabled="!(hostName && pgcDir && userName && password && connectionName)" ng-click="addHost(hostName, pgcDir, userName, password, connectionName)">Save</button> -->
                </div>
            </div>
        </form>
    </div>
</div>