<section class="content-header">
    <h1 class="components-update-title-wrapper">
        Credentials Manager
    </h1>
    <div class="btn-group pull-right " uib-dropdown ng-if="!loading">
        <button type="button" class="btn btn-default" uib-dropdown-toggle>
            Actions
        </button>
        <button type="button" ng-click="checkOptions()" class="btn btn-default " ng-if="group.group!='default'"  uib-dropdown-toggle>
            <span class="caret "></span>
            <span class="sr-only ">Split button!</span>
        </button>
        <ul uib-dropdown-menu role="menu " aria-labelledby="split-button ">
            <li><a href="" ng-click="addCred('Add Credential','')">Add</a></li>
            <li><a href="" ng-click="updateCred('Update Credential', '')">Update</a></li>
            <li><a href="" ng-click="deleteCredential()">Delete</a></li>
            <li><a href="" ng-click="openUsage()">Usage Report</a></li>
        </ul>
    </div>
</section>

<section class="content">
<div class="row">
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="8000" close="closeAlert()" class="uib-text">{{alert.msg}}</uib-alert>
	<div ng-if="loading" style="position: absolute;width: 100px; top: 50%;left: 50%; margin-left: -50px; margin-top: -25px;">
        <i class="fa fa-cog fa-spin fa-5x fa-fw margin-bottom"></i>
        <span><h3>Loading...</h3></span>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    	<div ng-if="!loading && credentialsList.length == 0 ">
    		<h4 style="text-align: center;" ng-bind-html="noCredMsg"></h4>
    	</div>
        <div class="box cred_list" ng-if="!loading && credentialsList.length > 0 ">
           <div class="component_box">
           		<div class="col-md-1 col-sm-1 col-xs-1">
                    <input type="checkbox" ng-model="options.master" ng-change="isSelectAll()">
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2"><strong>Type</strong></div>
                <div class="col-md-3 col-sm-3 col-xs-3"><strong>Name</strong></div>
                <div class="col-md-3 col-sm-3 col-xs-3"><strong>Last Used</strong></div>
            </div>
            <div ng-repeat="cred in credentialsList" class= "component_box" ng-class-odd="'oddRow'">
            	<div class="col-md-1 col-sm-1 col-xs-1">
                    <input type="checkbox" ng-model="cred.selected" ng-change="isLabelChecked()">
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <img uib-tooltip="{{cred.cred_type == 'pwd' ? 'User & Password' : cred.cred_type}}" class="cred-img" ng-src="assets/img/{{cred.cred_type}}.png">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <a ng-if="cred.hosts.length > 0" ng-click="openUsage(cred.cred_name, cred.hosts, cred.cred_type)">{{cred.cred_name}} ({{cred.hosts.length}})</a>
                    <span ng-if="cred.hosts.length == 0">{{cred.cred_name}}</span>
                </div>  
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span>{{cred.last_used_local}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
</section>