<div class="modal-header">
    <div ng-click="cancel()" class="close-modal pull-right" style="margin-left: 10px;" data-dismiss="modal" aria-hidden="true">
        <i class="fa fa-lg fa-close cursor_pointer"></i>
    </div>
    <div>
        <h4 class="modal-title pull-left" ng-if="name"> <img style="height: 35px;"> <img style="height: 35px;" src="assets/img/cred_manager.png"> Credential Details <strong ng-if="name"><i>{{name}}</i></strong></h4>
        <h4 class="modal-title pull-left" ng-if="!name">
        	Usage Report
        </h4>
    </div>
</div>
<div class="modal-body">
		<strong ng-if="name">This credential has been recorded as used in the following places: </strong>
		<p></p>
		<div class="usageCredHosts" ng-if="name">
			<ul>
				<li class="cred_usage_list" ng-repeat="host in hosts">
					<a ng-if="cred_type=='pwd' || cred_type=='ssh-key'" ng-click="redirectToServers(host)"> {{host}} </a>
				</li>
			</ul>
		</div>
		<div class="usageCredHosts" ng-if="selectedCreds && cred.hosts.length>0 && !name" ng-repeat="cred in selectedCreds">
			<strong>{{cred.cred_name}}</strong>
			<ul>
				<li class="cred_usage_list" ng-repeat="host in cred.hosts">
					<a ng-click="redirectToServers(host)"> {{host}} </a>
				</li>
			</ul>
		</div>
</div>