<div class="modal-header">
    <div ng-click="cancel()" class="close-modal pull-right" data-dismiss="modal" aria-hidden="true">
        <i class="fa fa-lg fa-close cursor_pointer"></i>
    </div>
    <h4 class="modal-title">Connect to Server</h4>
</div>
<div ng-if="connecting" class="text-center modal-body"><i class='fa fa-spinner fa-2x  fa-pulse'></i> &nbsp; Connecting....</div>
<form class="form-inline" ng-if="!connecting">
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" ng-if="errorMsg">
              {{errorMsg}}
          </div>
        <label class="mr-sm-2" for="inlineFormCustomSelect">Password : </label>
        <input type="password" name="" ng-model="pswd">
        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
          &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="" ng-model="connection.savePwd">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Save Password</span>
        </label>
      <div ng-if="connect_err">{{connect_err}}</div>
  </div>
  <div class="modal-footer" ng-if="!connecting">
      <button type="submit" ng-click="submitPassword(pswd)" class="btn btn-primary pull-right" ng-disabled="!pswd">Connect</button>
      <button ng-click="openEditConn()" class="btn btn-warning">Edit Connection</button>&nbsp;&nbsp;
  </div>
</form>