<div class="modal-header">
    <div ng-click="cancel()" class="close-modal pull-right" data-dismiss="modal" aria-hidden="true">
        <i class="fa fa-lg fa-close cursor_pointer"></i>
    </div>
    <h4 ng-if="!thirdPhase" class="modal-title"> {{instance}} Details</h4>
</div>
<div class="modal-body" id="comp-details-tabs-wrapper">
	<div class="row">
	<div ng-if="rdsDetailsLoading" style="text-align: center;">
        <i class="fa fa-cog fa-spin fa-5x fa-fw margin-bottom"></i>
    </div>
    <div ng-if="rdsDataNotFound && !rdsDetailsLoading" style="margin-left: 40%;">
        <h3>No Data Found</h3>
    </div>
	<div ng-if="!rdsDetailsLoading && !rdsDataNotFound">
	    <div class="col-md-6">
	        <div class="box box-primary">
	            <div class="box-header with-border">
	                <div><strong> Configuration Details </strong></div>
	            </div>
	            <form class="form-horizontal" id="pgc-info-box">
	               <!--  <div class="form-group">
	                    <label class="col-sm-5 info-label">ARN </label>
	                    <span class="col-sm-7 info-text">
	                        
	                    </span>
	                </div> -->
	                <div class="form-group">
	                    <label class="col-sm-5 info-label">Engine </label>
	                    <span class="col-sm-7 info-text">
	                        {{rdsInfo.engine}} {{rdsInfo.engine_version}}
	                    </span>
	                </div>
	                <!-- <div class="form-group">
	                    <label class="col-sm-5 info-label">License Model </label>
	                    <span class="col-sm-7 info-text">
	                        
	                    </span>
	                </div> -->
	                <div class="form-group">
	                    <label class="col-sm-5 info-label">Created Time </label>
	                    <span class="col-sm-7 info-text" style="white-space: nowrap;">
	                        {{rdsInfo.create_time}}
	                    </span>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-5 info-label">DB Name </label>
	                    <span class="col-sm-7 info-text">
	                        {{rdsInfo.dbname}}
	                    </span>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-5 info-label">Username </label>
	                    <span class="col-sm-7 info-text">
	                        {{rdsInfo.user}}
	                    </span>
	                </div>
	            </form>
	        </div>
	        <br />
	        <div class="box box-primary">
	            <div class="box-header with-border">
	                <div><strong> Availability and Durability </strong></div>
	            </div>
	            <form class="form-horizontal" id="pgc-info-box">
	                <div class="form-group">
	                    <label class="col-sm-5 info-label">DB Instance Status </label>
	                    <span class="col-sm-7 info-text">
	                        <!-- {{rdsInfo.status}} -->
	                        <div ng-class="{ 'greenText' :rdsInfo.status == 'available'}">{{rdsInfo.status}}</div>
	                    </span>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-5 info-label">Multi AZ </label>
	                    <span class="col-sm-7 info-text">
	                        <div ng-class="{ 'greenText' :rdsInfo.az_is_multi == 'True' , 'redText' : rdsInfo.az_is_multi == 'False'}">{{rdsInfo.az_is_multi == "True" ? "Yes":"No"}}</div>
	                    </span>
	                </div>
	                <div class="form-group" ng-if="rdsInfo.az_is_multi == 'True'">
	                    <label class="col-sm-5 info-label">Secondary Zone </label>
	                    <span class="col-sm-7 info-text">
	                        {{rdsInfo.az_secondary}}
	                    </span>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-5 info-label">Automated Backups </label>
	                    <span class="col-sm-7 info-text">
	                        <span class="greenText" ng-if="rdsInfo.backup_retention">Enabled ({{rdsInfo.backup_retention}} days)</span>
	                        <span class="redText" ng-if="!rdsInfo.backup_retention">Disabled</span>
	                    </span>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-5 info-label">Latest Restore Time </label>
	                    <span class="col-sm-7 info-text">
	                        {{rdsInfo.latest_restorable}} 
	                    </span>
	                </div>
	            </form>
	        </div>
	        <br />
	        <div class="box box-primary">
	            <div class="box-header with-border">
	                <div><strong> Maintenance Details </strong></div>
	            </div>
	            <form class="form-horizontal" id="pgc-info-box">
	                <div class="form-group">                                            
	                <label class="col-sm-7 info-label" style="word-wrap: none">Auto Minor Version Upgrade </label>
	                    <span class="col-sm-5 info-text">
	                        <div ng-class="{ 'greenText' : rdsInfo.auto_minor_upgrade == 'True' , 'redText' : rdsInfo.auto_minor_upgrade == 'False'}">{{rdsInfo.auto_minor_upgrade == "True" ? "Yes":"No"}}</div>
	                    </span>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-7 info-label">Maintenance Window </label>
	                    <span class="col-sm-5 info-text">
	                        {{rdsInfo.maint_window}}
	                    </span>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-7 info-label">Backup Window </label>
	                    <span class="col-sm-5 info-text">
	                        <span class="greenText">{{rdsInfo.backup_window}}</span>
	                    </span>
	                </div>
	            </form>
	        </div>
	    </div>
	    <div class="col-md-6">
	        <div class="box box-primary">
	            <div class="box-header with-border">
	                <div><strong> Security and Network </strong></div>
	            </div>
	            <form class="form-horizontal" id="pgc-info-box">
	                <div class="form-group">
	                    <label class="col-sm-6 info-label">Availability Zone </label>
	                    <span class="col-sm-6 info-text">
	                        {{rdsInfo.az_primary}}
	                    </span>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-6 info-label">VPC </label>
	                    <span class="col-sm-6 info-text">
	                        <a>{{rdsInfo.vpc}}</a>
	                    </span>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-6 info-label">Publicly Accessible </label>
	                    <span class="col-sm-6 info-text">
	                        <div ng-class="{ 'greenText' : rdsInfo.auto_minor_upgrade == 'True' , 'redText' : rdsInfo.publicly_accessible == 'False'}">{{rdsInfo.publicly_accessible == "True" ? "Yes":"No"}}</div>
	                    </span>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-6 info-label"> Endpoint </label>
	                    <span class="col-sm-6 info-text">
	                        <a>{{rdsInfo.host}}</a>
	                    </span>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-6 info-label">Port </label>
	                    <span class="col-sm-6 info-text">
	                        {{rdsInfo.port}}
	                    </span>
	                </div>
	            </form>
	        </div>
	        <br />
	        <div class="box box-primary">
	            <div class="box-header with-border">
	                <div><strong> Instance and IOPS </strong></div>
	            </div>
	            <form class="form-horizontal" id="pgc-info-box">
	                <div class="form-group">
	                    <label class="col-sm-6 info-label">Instance Class </label>
	                    <span class="col-sm-6 info-text" id="rds-meta-info">
	                        {{rdsInfo.db_class}} &nbsp;<i tooltip-append-to-body="true" uib-tooltip-template="'../app/components/partials/instanceMetaList.html'" class="fa fa-info-circle" aria-hidden="true"></i><span ng-if="rdsInfo.db_class"></span>
	                    </span>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-6 info-label">Storage Type </label>
	                    <span class="col-sm-6 info-text">
	                        {{rdsInfo.storage_type}}
	                    </span>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-6 info-label">IOPS </label>
	                    <span class="col-sm-6 info-text" ng-if="rdsInfo.iops==''">
	                        disabled
	                    </span>
	                    <span class="col-sm-6 info-text" ng-if="rdsInfo.iops!=''">
	                        {{rdsInfo.iops}}
	                    </span>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-6 info-label"> Storage </label>
	                    <span class="col-sm-6 info-text">
	                        {{rdsInfo.storage_allocated}} GB
	                    </span>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-6 info-label">Encryption Enabled </label>
	                    <span class="col-sm-6 info-text">
	                        <div>{{rdsInfo.storage_encrypted == "True" ? "Yes":"No"}}</div>
	                    </span>
	                </div>
	            </form>
	        </div>
	    </div>
	</div>
	</div>
</div>