<!DOCTYPE html>
<html lang="en" ng-app="bigSQL">

<head>
    <meta charset="UTF-8">
    <title>pgDevOps</title>
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="apple-touch-icon" sizes="57x57" href="static/assets/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/assets/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/assets/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/assets/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/assets/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/assets/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/assets/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/assets/img/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="static/assets/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="static/assets/img/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="static/assets/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="static/assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="static/assets/img/manifest.json">
    <link rel="mask-icon" href="static/assets/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="static/assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/vendor-css.css">
    <link rel="stylesheet" type="text/css" href="static/bigSQL.min.css">
    <script src="static/m/modernizr.js"></script>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="static/img/mstile-144x144.png">
    <meta name="msapplication-config" content="static/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="hold-transition skin-black sidebar-mini sidebar-collapse">
    <div class="wrapper" id="meta-wrapper">
        <!--Top menu and Left menu are components written in Angular 1.5-->
        <top-menu></top-menu>
        <!-- Left side column. contains the logo and sidebar -->
        <left-menu></left-menu>
        <div class="content-wrapper" style="min-height: 419px;">
            <div ui-view="main ">
            </div>
        </div>
        
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> bam_version_number
            </div>
            <strong>Copyright &copy; 2017 <a href="https://www.openscg.com">OpenSCG</a>.</strong> All rights reserved.
        </footer>   
    </div>
    <script>
    var hasWebsockets = Modernizr.websockets;

    if (!hasWebsockets) {
        var badBrowserModal = '<div class="warning-modal-wrapper">' +
            '    <div class="modal-popup">' +
            '        <h1>Your browser is not supported</h1>' +
            '        <p>You can use pgDevOps by BigSQL with a modern browser. Click on an icon to download one below.</p>' +
            '        <div>' +
            '        <a target="_blank" href="https://www.google.com/chrome/browser/desktop/index.html"><img class="chrome-icon" src="assets/img/chrome_logo.png" alt=""></a>' +
            '        <a target="_blank" href="https://www.mozilla.org/en-US/firefox/new/"><img class="firefox-icon" src="assets/img/firefox_logo.png" alt=""></a>' +
            '        <a target="_blank" href="https://www.microsoft.com/en-in/download/Internet-Explorer-11-for-Windows-7-details.aspx"><img class="ie11-icon" src="assets/img/ie11_logo.png" alt=""></a>' +
            '        </div>' +
            '    </div>' +
            '</div>';


        var el = document.getElementById("meta-wrapper");
        el.innerHTML = badBrowserModal;
    }
    </script>
    <script type="text/javascript" src="static/vendor-scripts.min.js"></script>
    <script type="text/javascript" src="static/templates.js"></script>
    <script src="static/app-scripts.min.js"></script>
</body>

</html>
