.bigsql-logo {
    background-image: url('/assets/img/bigsql-icon.png');
    background-repeat: no-repeat;
    /*background-position: 8px 8px;*/
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
}

.pg-navbar{
    height:50px;
}
.pg-docker{
    padding-top:10px;
}